*{
	padding:0;
	margin: 0;
}
.fullwight{
	width:100%;
	max-width: 100%;
}
.ctr-pan-md{
	position:relative;
	width:30%;
	float:left;
	margin-top:10px;
	margin-left:10px;
	line-height: 120%;
}
.ctr-pan-lg{
	position:relative;
	float:left;
	width:50%;
	line-height: 120%;
	margin-top:10px;
	margin-left:10px;
}
.resultarea{
	min-height: 100px;
}
.ctr-btn{
	width:70px;
	height:20px;
	position:relative;
	left:auto;
	right:auto;
	border:rgb(0,0,0,.2) solid 1px;
	border-radius: 4px;
	background-color:#fff;
	margin:5px;
}
.ctr-btn:active{
	background-color:rgba(0,0,0,.2);
}
.extparam{
	background-color:#DFF0D8;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin-top: 3px;
}
.extparam div{
	width: 40%;
	display: inline-block;
}
.extparam div.option{
	width:10% !important;
}
.extparam input{
	
}
.addparam{
	width:70px;
	width:70px;
	margin-top:5px;
	position:relative;
	display:inline-block;
	left:auto;
	right:auto;
}
.addparam-cnt{
	text-align:center;
}
.extparam-input-remove{
	height:30px;
	width:30px;
	text-align:center;
	color:#ED4D1E;
	padding:0;
	line-height: 100% !important;
	vertical-align: middle !important;
}