<html xmlns="http://www.w3.org/1999/xhtml">
<header>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{data.title}}</title>
</header>
<body>
	<h2>Will Say!!</h2>
	{{data.content}}<br>
	{%if data.stores and data.stores|length>0%}
	<table>
		<tr>
			{% for item in data.stores[0] %}
        	<th>{{ item }}</th>
    		{% endfor %}
		</tr>
		{%for item in data.stores%}
		<tr>
			{%for clk,clv in item.items()%}
			<td>{{clv}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
	{%else%}
	<h4>没有数据</h4>
	{%endif%}
	</table>
</body>
<footer>
	<br style="border-top:1px solid rgb(20,20,20)">
	<div style="text-align: left;">老袁测试中心</div>
</footer>
</html>